@font-face {
	font-family: Futura;
	src: url('fonts/Futura_Medium_BT.ttf');
}

@font-face {
	font-family: Futura;
	font-style: italic;
	src: url('fonts/Futura_Medium_Italic_BT.ttf');
}

* {
	margin: 0;
	padding: 0;
}

div#main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0;
}

span.i {
	font-style: italic;
}

/* HEADER */

div#header-long {
	background: #2c3239 url("../img/header-bg.jpg") no-repeat top center;
	height: 400px;
}

	div#strip {
		height: 10px;
		width: 100%;
		position: absolute;
		top: 100px;
		background-color: #247da2;
	}

	div#header {
		width: 960px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
		div#header-top {
			width: 100%;
			height: 100px;
		}

			div#logo {
				float: left;
				background: url("../img/logo-small.png") no-repeat;
				max-width: 540px;
				height: 85px;
			}
			
				div#logo h1 {
					margin: 30px 0 0 70px;
					
					font-family: Futura;
					font-size: 36px;
					color: #fff;
					text-shadow: #000 2px 2px 2px;
				}
			
			div#menu {
				float: right;
				height: 85px;
				width: 330px;
				text-align: center;
				background: url("../img/91a815-30.png");
			}

		div#header-bottom {
			width: 100%;
			height: 290px;
			margin-top: 10px;
		}
		
			div#header-text {
				margin-top: 10px;
				float: left;
				width: 300px;
				display: block;
				overflow: hidden;
				height: 260px;
				text-align: justify;
				text-shadow: #000 2px 2px 2px;
				line-height: 26px;
				font-family: Futura;
				font-size: 18px;
				color: #91a815;
			}
			
			div#header-box {
				float: right;
				width: 660px;
				height: 290px;
				text-align: center;
			}
			
				div#slogan {
					margin-top: 80px;
					font-family: Futura;
					font-size: 60px;
					color: #fff;
					height: 70px;
					line-height: 70px;
				}
				
				div.definition {
					width: 280px;
					float: left;
					margin-left: 50px;
					margin-top: 40px;
					font-family: Times;
					font-size: 18px;
					color: #fff;
					text-align: left;
				}
				
				div.definition span.trans {
					font-size: 24px;
					color: #d1d1d1;
				}
				
				div.definition h1 {
					font-weight: normal;
					font-size: 30px;
				}

/* BODY */

div#body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

div#signup-bar {
	height: 130px;
	position: relative;
	top: 0;
}

	div#signup-text {
		width: 480px;
		height: 110px;
		margin-top: -55px; /*Has to be half of height*/
		overflow: hidden;
		position: absolute;
		top: 50%;

		font-family: Times;
		font-style: italic;
		text-align: justify;
		font-size: 18px;
		color: #247da2;
	}

	div#signup {
		width: 350px;
		height: 60px;
		margin-top: -30px; /*Has to be half of height*/
		position: absolute;
		top: 50%;
		right: 0px;

		text-align: center;
		background: #247da2;
		vertical-align: middle;
	}
	
	div#signup a, div#signup a:visited {
		font-family: Futura;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 60px;
		color: #fff;
	}
	
	div#signup a:hover, div#signup a:active {
		color: #000;
	}