.lavaLamp {
	position: relative;
	height: 85px;
	width: 300px;
	overflow: hidden;
	border: 0;
	margin-left: auto;
	margin-right: auto;
}

.lavaLamp li {
	float: left;
    list-style: none;
	height: 85px;
}

.lavaLamp li.back {
	border: 0;
	background: url("img/000000-70.png"); 
	width: 19px;
	margin-top: 25px;
	height: 35px;
	z-index: 8;
	position: absolute;
}

.lavaLamp li a {
	font-family: Futura;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-align: center;

	z-index: 10;
	position: relative;
	vertical-align: center;
	display: block;
	width: 75px;
	height: 35px;
	top: 32px;
}

.lavaLamp li a:hover, .lavaLamp li a:active, .lavaLamp li a:visited {
	border: none;
}
