<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- Servlet responsible for displaying something (Currently a list of calendars). 
	Be sure to update this comment when we decide what exactly -->
	<servlet>
		<servlet-name>LifePlanning</servlet-name>
		<servlet-class>com.appspot.iclifeplanning.LifePlanningServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LifePlanning</servlet-name>
		<url-pattern>/lifeplanning</url-pattern>
	</servlet-mapping>

	<!-- Servlet responsible notification. Used for scheduled cron jobs -->
	<servlet>
		<servlet-name>Notifications</servlet-name>
		<servlet-class>com.appspot.iclifeplanning.notifications.NotificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Notifications</servlet-name>
		<url-pattern>/notifications</url-pattern>
	</servlet-mapping>

	<!-- Top-level web-page for our app -->
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
