body {
	background: #111;
	color: #fff;
}

div#header-long {
	height: 100px;
}

div#menu {
	width: 430px;
}

#lavaLampMenu {
	width: 400px;
}

iframe.calendar {
	margin-top: 10px;
	display: inline;
	width: 100%;
	height: 300px;
}

div#optimize_button {
	width: 100%;
	height: 60px;

	margin: 10px auto 0 auto;
	text-align: center;
	background: #247da2;
	vertical-align: middle;
}

div#optimize_button a, div#optimize_button a:visited {
	font-family: Futura;
	font-size: 60px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 60px;
	color: #fff;
}

div#optimize_button a:hover, div#optimize_button a:active {
	color: #000;
}

div#calendar_suggestions .title {
	font-family: Futura;
	font-size: 20px;
	float: lef t;
}

div#calendar_suggestions .times {
	font-family: Futura;
	font-size: 16px;
	float: lef t;
	color: $ddd;
}

div#calendar_suggestions .spheres {
	font-family: Futura;
	font-size: 10px;
	margin-bottom: 10px;
	float: right;
	color: $ddd;
}