/* fancyform styles */
.demo label {
display: block;
padding-left: 35px;
background-position: 8px center;
background-repeat: no-repeat;
border: 1px solid #252525;
clear: both;
cursor: pointer;
color: #fff;
}
.checked {
background-color: #222;
background-image: url(chk_on.png)
}
.unchecked {
background-color: #1c1c1c;
background-image: url(chk_off.png)
}
.selected {
background-color: #222;
background-image: url(rdo_on.png)
}
.unselected {
background-color: #1c1c1c;
background-image: url(rdo_off.png)
}
.leftcol {
float: left;
clear: left;
width: 50%
}
.rightcol {
float: left;
clear: right;
width: 50%
}
