div#calendar_suggestions {
	width: 100%;
}

/* Loading gif */
div#calendar_suggestions > img {
	margin: 0 459px;
}
/* ------------------ */
div#calendar_suggestions div.id {
	display: none;
}

div#calendar_suggestions div.sugg_set {
	font-family: Futura;
	di splay: inline;
	fl oat: right;
}

	#sugg_nav {
		margin: 0 auto 20px auto;
		width: 195px;
	}
	
	#sugg_nav a {
		font-family: Futura;
		font-size      : 20px;
		text-align     : center;
		text-decoration: none;
		text-transform: uppercase;
		line-height    : 35px;
		height         : 35px;
		margin: 0 2px 0 2px;
		padding: 0 5px 0 5px;
		background: #247da2;
		color: #fff;
	}
	
	#sugg_nav a.selected {
		background: #247da2;
	}
	
	#sugg_nav a.unselected {
		background: #333;
	}
	
	div#calendar_suggestions div.alter_set {
		width: 960px;
		margin-bottom: 10px;
		border: 0px solid #222;
		clear: both;
		float: left;
		position: relative;
	}
		
		div#calendar_suggestions div.selected, div#calendar_suggestions div.unselected {
			float: left;
			margin-left: 5px;
		}
		
		div#calendar_suggestions div.selected div.remove div.alter_back_strip {
			background-color: #cc0000;
		}
		
		div#calendar_suggestions div.unselected div.remove div.alter_back_strip {
			background-color: #440000;
		}
		
		div#calendar_suggestions div.selected div.newevent div.alter_back_strip {
			background-color: #00cc00;
		}
		
		div#calendar_suggestions div.unselected div.newevent div.alter_back_strip {
			background-color: #004400;
		}
		
		div#calendar_suggestions div.selected div.reschedule div.alter_back_strip {
			background-color: #0000cc;
		}
		
		div#calendar_suggestions div.unselected div.reschedule div.alter_back_strip {
			background-color: #000044;
		}
		
			div#calendar_suggestions .remove, div#calendar_suggestions .newevent, div#calendar_suggestions .reschedule {
				float: left;
				margin-left: 0px;
			}
	
				div#calendar_suggestions div.alter_back {
					position: absolute;
					top: 0;
					bottom: 0;
					z-index: 0;
					margin-left:20px;
				}
				
				div#calendar_suggestions div.alter_back_strip {
					position: absolute;
					top: 0;
					bottom: 0;
					z-index: 0;
					width: 20px;
				}
				
				div#calendar_suggestions div.selected div.alter_back {
					background-color: #333;
				}
				
				div#calendar_suggestions div.unselected div.alter_back {
					background-color: #1c1c1c;
				}
	
				div#calendar_suggestions div.alter {
					position: relative;
					z-index: 1;
					margin: 5px 5px 5px 25px;
				}
				
				div#calendar_suggestions div.unselected div.alter {
					color: #333;
				}
		
					div#calendar_suggestions div.left {
					}
			
						div#calendar_suggestions div.title {
							font-size: 20px;
							text-transform: uppercase;
						}
				
						div#calendar_suggestions div.datetimes {
							font-size: 13px;
						}
				
						div#calendar_suggestions div.selected div.datetimes {
							color: #999;
						}
				
						div#calendar_suggestions div.description {
							margin-top: 10px;
						}
			
					div#calendar_suggestions div.right {
					}
			
						div#calendar_suggestions ul.spheres {
							margin-top: 10px;
							list-style-type: none;
							font-size: 12px;
						}

						div#calendar_suggestions ul.spheres > li {
							display: inline;
							float: left;
							margin-right: 10px;
							margin-bottom: 5px;
						}

						div#calendar_suggestions ul.spheres > li {
							wi dth: 48px;
							he ight: 48px;
						}

						div#calendar_suggestions ul.spheres > li span {
							d isplay: none;
						}

						div#calendar_suggestions ul.spheres > li.health  {
							background-image: url("hea lth-icon.png");
						}

						div#calendar_suggestions ul.spheres > li.family  {
							background-image: url("fami ly-icon.png");
						}

						div#calendar_suggestions ul.spheres > li.work  {
							background-image: url("work- icon.png");
						}

						div#calendar_suggestions ul.spheres > li.recreation  {
							background-image: url("recrea tion-icon.png");
						}

/* BUTTON */

div#calendar_suggestions button {
	font-family: Futura;
	font-size: 14px;
	height: 40px;
	width: 100%;
	text-transform: uppercase;
	background: #247da2;
	color: white;
	border: 0;
	margin-top: 10px;
	cursor: pointer;
}

div#calendar_suggestions button:hover {
	border-top: 1px solid #333;
	border-left: 1px solid #333;
}